.work{
    font-size:20px ;
    color: firebrick;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
    height:50px ;
    width:50px ;
    
}
.img-responsive{
    height:200px ;
    width:100px ;
}